@import './../../scss/variables';
.mat-toolbar {
  height:  50px;
  &.primary{
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .links{
    margin-right: 3px;
    a{
      display: inline-block;
      margin: auto 12px;
      color: inherit;
      text-decoration: none;
      font-size: 15px;
    }
  }
  .rightLinks{
    a{
      margin: auto 5px;
      border:1px solid #fff;
    }
  }
  .spacer{
    flex: 1 1 auto;
  }
  .app-logo{
    &-wrapper{
      width: 150px;
      position: relative;
    }
    cursor: pointer;
    max-width: 100%;
    position: absolute;
    top: -25px;
    right: -19px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 58px;
    background:$primary;
    img{
      width:78%
    }
  }
  &.sm{
    overflow: hidden;
    .app-logo{
      &-wrapper{
        width:130px;
      }
      border-bottom-right-radius:0;
        border-bottom-left-radius:0;
        right: 0;
    }
  }
}


